.App {
    padding-left: 96px;
    padding-right: 96px;
}

.header {
    height: 112px;
    display: flex;
    flex-direction: row;

    /* background-color: red; */
}

h1 {
    font-size: 32px;
    font-family: 'Newsreader';
    color: '#426B1F';
    margin-top: 41px;
}

.rightPart {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* background-color: green; */
    padding-top: 46px;
}

.eachRightItem {
    padding-right: 20px;
    font-size: 16px;
    font-family: 'Inter';
}

.btn {
    width: 126px;
    height: 48px;
    font-size: 16px;
    background-color: #426B1F;
    color: #FFFFFF;
    margin-top: 32px;
    border-radius: 4px;
}